@page
@model Сrowdfunding.Areas.Identity.Pages.Account.Manage.CampaignsModel
@inject Сrowdfunding.Data.ApplicationDbContext context
@{
}

<table class="table table-bordered table-striped ">
    <thead class="thead-dark">
        <tr>
            <th>Creator</th>
            <th>Title</th>
            <th>Begin date</th>
            <th>End date</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Campaign.Campaigns)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => context.Categories.Find(item.CategoryId).Name)
                </td>
                <td>
                    <form method="post">
                        <a class="btn btn-success" asp-page="CampaignEdit" asp-route-id="@item.Id">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </a>
                    </form>
                    <button id="btnDeleteCampaign-@item.Id" type="button" class="btn bg-danger" data-toggle="modal" data-target="#deleteCampaignModal-@item.Id">
                        <i class="fa fa-window-close-o" aria-hidden="true"></i>
                    </button>
                    <div id="deleteCampaignModal-@item.Id" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Delete Campaign</h4>
                                    <button type="button" class="close" data-dismiss="modal">
                                        &times;
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Do you really want to delete "@item.Name" campaign? This action cannot be undone.</p>
                                </div>
                                <div class="modal-footer">
                                    <form method="post">
                                        <button asp-page-handler="delete" asp-route-id="@item.Id" id="btnDeleteCampaign-@item.Id" class="btn bg-danger">
                                            Delete
                                        </button>
                                    </form>
                                    <button id="hideModalDeleteBtn" type="button" class="btn bg-info" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnClickDelete").click(function () {
            $("#deleteCampaign").modal("show");
        });

        $("#hideModalDeleteBtn").click(function () {
            $("#deleteCampaign").modal("hide");
        });
    });
</script>