@model Сrowdfunding.Models.Reward
@{
}
<div>
    <div>
        @Model.Description
    </div>
    <div>
        Delivery: @Model.Delivery
    </div>
    <div>
        Remain: @Model.Count
    </div>
    <div>
        Price: @Model.Price
    </div>
    <form method="post" asp-controller="Home" asp-action="Support" asp-route-id="@Model.CampaignId">
        <input type="hidden" name="Price" value="@Model.Price" />
        <input type="hidden" name="RewardId" value="@Model.RewardId" />
        <input type="submit" value="Buy" />
    </form>    
</div>